/* General Reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

#image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Image styles */
.image {
  position: absolute;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .image {
    width: 100px; /* Smaller size for mobile */
    height: 100px;
  }
}
